
@media screen and (min-width: 668px) {
    #side_menu{
       height: 100px;
    }
    #side_menu ul{
        margin-top: 20px;
        padding-left: 65px;
        display: inline-block;
        justify-content: right;
        align-items: center;
    }
    #side_menu li {
        display: inline;
        margin: 0;
        padding: 0;
    }
    .Logo{
        position: absolute;
        top: -1px;
        left: 0;
    }

}